:host
{
    display: flex;
    
    @at-root
    #{&}([v]),
    #{&}([vertical]),
    #{&}([orientaion="vertical"])
    {
        flex-direction: column;
        height:         100%;
        overflow:       auto;

        &[reverse]
        {
            flex-direction: column-reverse;
        }
    }
  
    @at-root
    #{&}([h]),
    #{&}([horizontal]),
    #{&}([orientaion="horizontal"])
    {
        flex-direction: row;
        width:          100%;
        overflow:       auto;

        &[reverse]
        {
            flex-direction: row-reverse;
        }
    }
  
    > * { margin: auto; }
}