layout-content
{
    display: flex;
    margin:  auto;
    > * { margin: auto; }
}

layout-stack
{
    display: flex;
    &,
    &[v],
    &[vertical],
    &[orientaion="vertical"]
    {
       /* > slot */
        //{
            flex-direction: column;
            height:         100%;
            overflow:       auto;
            
        //}

        &[reverse]/* > slot */
        {
            flex-direction: column-reverse;
        }
    }
  
    &[h],
    &[horizontal],
    &[orientaion="horizontal"]
    {

       /* > slot */
        //{
            flex-direction: row;
            width:          100%;
            overflow:       auto;
            
        //}

        &[reverse]/* > slot */
        {
            flex-direction: row-reverse;
        }
    }  
  
    > * { margin: auto; }
}